@import url("https://fonts.googleapis.com/css2?family=Raleway");
@import url("https://fonts.googleapis.com/css2?family=Prompt");
@import url("https://fonts.googleapis.com/css2?family=Sarabun");

body {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  font-family: "Sarabun";
}

* {
  box-sizing: border-box;
}

@media (max-width: 840px) {
  body {
    font-size: 14px;
  }
}

html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
